
nav {
  background-color: #f8f27b; 
    box-shadow: 0 5px  #1b723658;
}
#brand{
  font-size: 25px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.dropdown-menu{
  background-color: #f9f8e2; 

}
.navbar-toggler{
  background-color: #57b34990; 
}

#carousel{
  width:80%;
  /* height:20vh; */
  margin:80px auto auto auto;
  padding:5%;
  
}
h2{
  color:rgb(31, 61, 7);
  /* font-size: 2rem; */
 
}
#about {
  transition: opacity 0.3s ease;
}
.about-us{
  padding:5%;
  margin: 80px auto auto auto;
  background-color: #57b34990; 
}
.about-us p{
  color:rgb(73, 47, 8);
  font-size: 16px;
}

#other-img{
  width:30px;
  height: 40px;
}


.footer{
  background-color: #fce8cb;

}


#accordionExample{
  margin: auto;
  width:70%;
  padding-top:5%;
 }
/* ............. */
.accordion-button:not(.collapsed) {
  background-color: #ead653;  
}
.accordion-button:hover {
  background-color: #9ad650; /* your preferred hover color */
}

